<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AetherWalker"
        tools:targetApi="34">
        <activity
            android:name=".QuestSelectionScreen"
            android:exported="false" />
        <activity
            android:name=".QuestEndScreen"
            android:exported="false" />
        <activity
            android:name=".ActiveQuestScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
        <activity
            android:name=".Main_Menu"
            android:exported="true" />
    </application>

</manifest>